.App {
  text-align: center;
  /*
  font-family: Arial, Helvetica, sans-serif; */
}

hr {
  width: 500px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  padding: 0;
  margin: 0;
}

.input-cell {
  height: 30px;
  width: 30px;
  justify-content: center;
  margin: 0;
  text-align: center;
  border: 1px solid gray;
}

.main-block {
  margin: auto;
}
.sudoku-area {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.game-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  flex-wrap: wrap;
  column-gap: 2em;
}
.button-home {
  cursor: pointer;
  color: darkblue;
}

.game-difficulty {
  cursor: pointer;
  min-width: 130px;
  cursor: pointer;
  /* background: blueviolet; */

  border: 1px solid #f8f8f8;
  background: #f8f8f8;

  padding: 6px;
  border-radius: 20px;
}

.menu-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
